.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.active {
	font-weight: bold;
	text-decoration: underline;
}

.column {
	height: 100%;
	border: 1px solid black;
	border-radius: 10px;
	overflow: auto;
}

.dropcolumn {
	transform: translateY(-100%);
	transition: transform .2s ease-in-out;
}

.dropcolumn.boop {
	transform: translateY(0%);
}